@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Bellefair&family=Love+Light&display=swap");

/*
PAGE HEADER
font-family: 'Alegreya SC', serif;

BUTTON
font-family: 'Bellefair', serif;

CHARACTER NAME
font-family: 'Love Light', cursive;

*/

body {
  background-image: url(../images/bg-hp-default-768.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  max-width: 960px;
}

main {
  width: 375px;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.results p {
  color: rgba(209, 196, 74, 0.671);
}

.result {
  background-color: rgba(75, 72, 66, 0.582);
  border: 1rem double rgba(243, 182, 15, 0.363);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 300px;
  width: 200px;
}

i.fa-info-circle {
  color: rgba(255, 255, 255, 0.71);
  font-size: 1.3rem;
  padding-top: 1rem;
}

.info {
  display: none;
}

.expand {
  display: block;
  margin: 1.5rem auto;
  height: 300px;
  width: 200px;
  text-align: center;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
}

.expand ul{
  text-align: left;
  margin-left: -10px;
}

.hide{
  display: none;
}

.result img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#hp_result p {
  font-family: "Alegreya SC", serif;
  padding: 5px;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.808);
  text-shadow: 0px 5px 5px #aa850ac7;
}

#hp_name {
  font-family: "Love Light", cursive;
  font-size: 2.2rem;
  position: relative;
  top: -1.7rem;
  letter-spacing: 0.4rem;
  color: rgba(255, 248, 248, 0.87);
  text-shadow: 0px 5px 10px #fae2a2a4;
  font-weight: 800;
  padding: 0 .3rem;
}

.house {
  position: relative;
  top: -1.5rem;
  letter-spacing: 0.4rem;
  font-size: 0.9rem;
  color: #ffff;
}

.card{
  display: grid;
  width: 200px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "bday result patronus"
    "age result wand"
    "ancestry result actor"
  ;
  grid-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

#bday {
  grid-area: bday;
}

#age {
  grid-area: age;
}

#ancestry {
  grid-area: ancestry;
}

#hp_result {
  grid-area: result;
}

#patronus{
  grid-area: patronus;
}

#wand{
  grid-area: wand;
}

#actor{
  grid-area: actor;
}

.side{
  display: none;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

button {
  background-image: linear-gradient(
    180deg,
    rgb(252, 189, 107) 23.8%,
    rgb(202, 138, 36) 92%
  );
  border: 4px solid rgb(179, 93, 12);
  box-shadow: 0 0 20px rgb(99, 74, 41);
  border-radius: 10px;
  color: #fff;
  font-family: "Bellefair", serif;
  font-size: 1.4rem;
  padding: 7px;
  justify-self: center;
}

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: none;
}

footer {
  margin-top: 0.5rem;
  padding: 5px;
  background-color: rgba(77, 62, 4, 0.308);
  color: rgba(255, 255, 255, 0.74);
  font-size: 0.7rem;
}
